<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                <a class="link-secondary" href="#" aria-label="Add a new contact">
                    Add Contact
                </a>
            </h6>
            <hr/>
            <ul class="nav flex-column">
                <li class="nav-item" *ngFor="let contact of contacts">
                    <div class="d-flex align-items-center">
                        <div class="nav-link" (click)="onSelect(contact)">{{contact.name}}</div>
                        <a class="link-secondary" routerLink="/contacts/edit/{{contact.id}}">Edit</a>
                    </div>
                </li>
            </ul>
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <app-contact-detail-view [contact]="selectedContact"></app-contact-detail-view>
        </main>
    </div>
</div>