<p>Example Angular project to list, add, and edit contacts.</p>
<p>This project uses Angular 15 with bootstrap frontend toolkit</p>
<div>
    The following design patterns were used in the creation of this example
    <ul>
        <li>Feature Modules</li>
        <li>Components</li>
        <li>Template-driven Form</li>
        <li>Services</li>
        <li>Routing</li>
        <li>Data Model</li>
        <li>Dependency Injection</li>  
        <li>Lazy-loading feature modules</li>
        <li>Use Router Resolver to pre-fetch component data prior to routing</li>
        <li>RxJs Observables</li>
    </ul>
</div>
